<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fhzm.dao.generator.HelpMapper" >
  <resultMap id="BaseResultMap" type="com.fhzm.entity.generator.Help" >
    
    <!-- 标识 -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    
    <!-- 用户标识 -->
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    
    <!-- 帮助标题 -->
    <result column="title" property="title" jdbcType="VARCHAR" />
    
    <!-- 被查看的次数 -->
    <result column="count" property="count" jdbcType="INTEGER" />
    
    <!-- 0.使用帮助1.常见问题 -->
    <result column="type" property="type" jdbcType="BIT" />
    
    <!-- 0.显示 1.不显示 -->
    <result column="is_show" property="isShow" jdbcType="BIT" />
    
    <!-- 创建时间 -->
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="utime" property="utime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fhzm.entity.generator.Help" extends="BaseResultMap" >
    <result column="info" property="info" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_id, language, title, count, type, is_show, ctime, utime
  </sql>
  <sql id="Blob_Column_List" >
    info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from help
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from help
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" >
    insert into help (id, create_id, language, 
      title, count, type, is_show, 
      ctime, utime, info
      )
    values (#{id,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{type,jdbcType=BIT}, #{isShow,jdbcType=BIT}, 
      #{ctime,jdbcType=TIMESTAMP}, #{utime,jdbcType=TIMESTAMP}, #{info,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" >
    insert into help
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="utime != null" >
        utime,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=BIT},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null" >
        #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null" >
        #{info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" >
    update help
    <set >
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=BIT},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null" >
        utime = #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" >
    update help
    set create_id = #{createId,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      type = #{type,jdbcType=BIT},
      is_show = #{isShow,jdbcType=BIT},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      utime = #{utime,jdbcType=TIMESTAMP},
      info = #{info,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" >
    update help
    set create_id = #{createId,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      type = #{type,jdbcType=BIT},
      is_show = #{isShow,jdbcType=BIT},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      utime = #{utime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="getList" parameterType="com.fhzm.entity.generator.BaseQueryVo" resultMap="BaseResultMap" >
    SELECT
    help.id, help.title,help.create_id, help.language, help.count, help.type, help.is_show,
    help.ctime, help.utime,authMer.nickname AS authMemberName
    FROM
    help
    LEFT  JOIN auth_member authMer ON help.create_id = authMer.uid
    <where>
      <if test="search != null">
        <if test="search.type != null and search.type!=''">
          and help.type = #{search.type}
        </if>
        <if test=" search.isShow != null and search.isShow!=''">
          and help.is_show = #{search.isShow}
        </if>
      </if>
    </where>
    ORDER BY help.ctime DESC
  </select>

  <update id="updateState">
    update help
    <set>
      <if test="status != null" >
        ${fied} = #{status}
      </if>
    </set>
    <where>
      id in
      (<foreach collection="list" item="obj" index="index" separator=",">
      #{obj}
    </foreach>)
    </where>
  </update>

</mapper>