<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:crm="http://thymeleafexamples">
	<div th:include="base/header::head"></div>
	<body  class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
		<div class="row wrapper white-bg page-heading">
	        <div class="col-sm-4">
	            <ol class="breadcrumb">
	                <li>主页</li>
	                <li><strong>菜单管理</strong></li>
	            </ol>
	        </div>
	    </div>
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="row row-lg">
					<div class="col-sm-12">
						<div class="search-area" id="toggle">
							<form class="form-horizontal m-t" th:action="@{/menu/index(pid=${pid})}" method="get">
								<div class="form-group">
									<label class="col-sm-1 control-label">请输入值搜索：</label>
									<div class="col-sm-2">
										<input name="name" type="text" class="form-control" />
										<span id="cname-error" class="help-block m-b-none"><i class="fa fa-info-circle"></i>请输入标题进行搜索</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2 col-sm-offset-1">
										<button class="btn btn-primary" type="submit" onclick="resetPageNum();">搜索</button>
										<a th:href="@{/menu/index(pid=${pid})}" class="btn btn-default">撤销搜索</a>
									</div>
								</div>
							</form>
						</div>
                        <div class="fixed-table-toolbar"> 
							<div class="bars pull-left">
								<a th:href="@{/menu/index(pid=0)}" class="btn btn-sm btn-primary"><i class="fa fa-mail-reply"></i>&nbsp;&nbsp;返回根</a>
								<a href="javascript:void(0);" class="btn btn-sm btn-primary search-toggle"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
										<span th:each="menuUrl:${session.urlList}">
									    <span  th:if="${menuUrl== 'menu/add'}">
									      	<a th:href="@{/menu/add(pid=${pid},level=${level})}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp;&nbsp;增加</a>
									    </span>
									    <span  th:if="${menuUrl== 'menu/remove'}">
									   		<a href="javascript:void(0);" class="btn btn-sm btn-primary confirm ajax-post" target-form="id" th:attr="url=@{/menu/remove}"><i class="fa fa-close"></i>&nbsp;&nbsp;删除</a>
									    </span>
									    <span  th:if="${menuUrl== 'menu/state(status=1)'}">
									    	<a href="javascript:void(0);" class="btn btn-sm btn-primary confirm ajax-post" target-form="id" th:attr="url=@{/menu/state(status=1)}"><i class="fa fa-check"></i>&nbsp;&nbsp;启用</a>
									    </span>
											<span  th:if="${menuUrl== 'menu/state(status=2)'}">
									 	 		<a href="javascript:void(0);" class="btn btn-sm btn-primary confirm ajax-post" target-form="id" th:attr="url=@{/menu/state(status=2)}"><i class="fa fa-ban"></i>&nbsp;&nbsp;禁用</a>
									     </span> 
								    </span>

							</div>
						</div>
                        <div class="example-wrap">
                            <div class="example">
                            <form  action="" method="get" th:action="@{/menu/index(pid=${pid},level=${level})}" id="form">
                          		 	<input type="hidden" name="pid" th:value="${pid}"/>
									<input type="hidden" name="level" th:value="${lcvel}"/>
                                <table class="table table-hover">
									<thead>
										<tr>
											<th><input type="checkbox" class="i-checks check-all " /></th>
											<th >序号</th>
											<th >标题</th>
											<th >分组</th>
											<th >控制地址</th>
											<th >上级菜单</th>
											<th>排序</th>
											<th >状态</th>
											<th>是否显示</th>
											<th >操作</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="menu,iterStat:${page.list}">
											<td><input type="checkbox" class="i-checks ids" name="id[]" th:value="${menu.id}"/></td>
											<td th:text="${(iterStat.index+1)}">{$vo.id}</td>
											<td><a th:href="@{/menu/index(pid=${menu.id},level=${menu.level})}" th:text="${menu.title}"></a></td>
											<td th:text="${menu.groupId}"></td>
											<td th:text="${menu.url}"></td>
											<td th:text="${parentTitle}==''?'根菜单':${parentTitle}" ></td>
											<td th:text="${menu.sort}"></td>
											<td>
												<i th:class="${menu.status}=='1'?'fa fa-check text-navy':'fa fa-check fa-close'"></i>
											</td>
											<td>
												<i th:class="${menu.hide}=='2'?'fa fa-check text-navy':'fa fa-check fa-close'"></i>
											</td>
											<td>
												<span th:each="menuUrl:${session.urlList}">
														 <span  th:if="${menuUrl== 'menu/edit'}">
								     							<a th:href="@{/menu/edit(id=${menu.id})}" class="btn btn-xs btn-white"><i class="fa fa-pencil"></i> 编辑 </a>
								  						  </span>
															<span  th:if="${menuUrl== 'menu/remove'}">
								     							<a href="javascript:void(0);" class="btn btn-xs btn-white confirm tabledel ajax-post"  th:attr="url=@{/menu/remove(id=${menu.id})}"><i class="fa fa-times-circle"></i>删除 </a>
								  						 </span>
													</span>
											</td>
										</tr>
									</tbody>
                                </table>
                                <div th:include="base/page::body"></div>
                             </form>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</body>
	<script src="/js/page.js"></script>
	<div th:include="base/header::footer"></div>
</html>