<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="base/header::head"></div>
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold" >页面未找到！</h3>
        <div class="error-desc" >页面好像去火星了，但是不管你信不信，神秘的404又来了~</div>
        <div class="font-bold" style="margin-top:10px;"><a class="btn btn-w-m btn-primary" href="javascript:;" onclick="javascript:history.go(-1);" >返回上一个页面</a></div>
    </div>
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.6"></script>
</body>
</html>
