<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div th:include="base/header::head"></div>
	<body  class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox float-e-margins">
                    <div class="row wrapper white-bg page-heading">
				        <div class="col-sm-4">
				            <ol class="breadcrumb">
				                <li>主页</li>
				                <li><a th:href="@{/role/index}">角色管理</a></li>
				                <li><strong>编辑角色</strong></li>
				            </ol>
				        </div>
				    </div>
                    <div class="ibox-content">
                        <form id="f" action="/admin.php/auth_group/add.html" th:action="@{/role/edit}" th:object="${ckAuthGroup}" class="form-horizontal m-t">
                            <div class="form-group">
                                <label class="col-sm-1 control-label" >角色名称：</label>
                                <div class="col-sm-3">
                                    <input name="title" class="form-control" type="text" th:value="*{title}" datatype="*2-50" nullmsg ="请输入角色名称" errormsg ="请输入角色名称"  />
                                    <span class="help-block m-b-none Validform_checktip" ><i class="fa fa-info-circle"></i>角色名称</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label" >组织描述：</label>
                                <div class="col-sm-3">
                                    <textarea name="info" class="form-control"  th:text="*{info}" datatype="*0-50" errormsg ="最多可以输入50个字符！"   ></textarea>
									<span class="help-block m-b-none Validform_checktip"><i class="fa fa-info-circle"></i> 最多可以输入50个字符！</span>
                                </div>
                            </div>
                            <input type="hidden" name="id" th:value="*{id}"/>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-1">
                                    <button class="btn btn-primary" type="submit"  >提交</button>
									<button class="btn btn-default historygo" type="button" >返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
        </div>
    </div>
	</body>
<div th:include="base/header::footer"></div>
</html>