<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div th:include="base/header::head"></div>
	<body  class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="ibox float-e-margins" >
				<div class="ibox-title" >
					<div style="border-top:2px "><h3 id="titleName" th:text="|月份技术监督项目计划完成情况统计|"></h3></div>
				</div>
			</div>
		</div>
    </div>
	</body>
    	<script src="/laydate-v5.0.9/laydate.js"></script>
    	<script src="/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="/js/content.min.js?v=1.0.0"></script>
		<script src="/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="/js/Validform_v5.3.2_min.js"></script>
		<script src="/js/plugins/toastr/toastr.min.js"></script>
		<script src="/js/plugins/iCheck/icheck.min.js"></script>
		<script src="/js/plugins/layer/layer.min.js"></script>
		<script src="/js/layer.js"></script>
		<script src="/js/common.js"></script>
		<script src="/js/plugins/echarts/echarts-all.js"></script>
</html>